.nowrap {
  white-space: nowrap;
}

ol li.step {
	list-style-image: url("/img/application.png");
}	
ol li.group {list-style-image: url("/img/application_form.png");}
ol li.item {list-style-image: url("/img/textfield.png");}

/* editing a field: 'what usage' list*/
ul#fieldusage { list-style:none }

.hero-unit {
	padding-left: 200px;
	background: #f5f5f5 url("/img/magicwand-100.gif") no-repeat 50px 70px;
}

/* PK: making the placeholders less obtrusive. It is now often unclear whether it is a filled-in value!
 * Also, the !important is necessary for when the main info form is pre-filled with data:
 * then, the pre-filled values become orange, but also the placeholder values!
*/
:-moz-placeholder {
	color: #bbb !important;
}
::-webkit-input-placeholder {
	color: #bbb !important;
}
